@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== BASE ==========*/
.nav8__body {
  height: 100vh;
  margin: 3.5rem 0 0 0;
  padding: 1rem 1rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #f9f6fd;
  color: #58555e;
}

.nav8__main-p {
  margin: 1rem 0;
}

/*========== HEADER ==========*/
.nav8__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: 100;
}

.nav8__header-container {
  display: flex;
  align-items: center;
  height: 3.5rem;
  justify-content: space-between;
}

.nav8__header-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.nav8__header-logo {
  color: #19181b;
  font-weight: 500;
  display: none;
}

.nav8__header-search {
  display: flex;
  padding: 0.4rem 0.75rem;
  background-color: #f4f0fa;
  border-radius: 0.25rem;
}

.nav8__header-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f4f0fa;
}

.nav8__header-input::placeholder {
  font-family: "Poppins", sans-serif;
  color: #58555e;
}

.nav8__header-icon,
.nav8__header-toggle {
  font-size: 1.4rem;
  color: #58555e;
}

.nav8__header-toggle {
  display: grid;
  color: #19181b;
  cursor: pointer;
}

/*========== NAV ==========*/
.nav8 {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: #ffffff;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: 100;
  transition: 0.4s;
}

.nav8__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav8__container::-webkit-scrollbar {
  display: none;
}

.nav8__logo {
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.nav8__list,
.nav8__items {
  display: grid;
}

.nav8__list {
  row-gap: 2.5rem;
}

.nav8__items {
  row-gap: 1.5rem;
}

.nav8__subtitle {
  font-size: 0.938rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #a5a1aa;
}

.nav8__link {
  display: flex;
  align-items: center;
  color: #58555e;
}

.nav8__link:hover {
  color: #6923d0;
}

.nav8__icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.nav8__name {
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
}

.nav8__logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav8__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: 0.4s ease-in-out;
}

.nav8__dropdown-collapse {
  background-color: #f4f0fa;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.nav8__dropdown-content {
  display: grid;
  row-gap: 0.5rem;
  padding: 0.75rem 2.5rem 0.75rem 1.8rem;
}

.nav8__dropdown-item {
  font-size: 0.75rem;
  font-weight: 500;
  color: #58555e;
}

.nav8__dropdown-item:hover {
  color: #6923d0;
}

.nav8__dropdown-icon {
  margin-left: auto;
  transition: 0.4s;
}

/* Show dropdown collapse */
.nav8__show-dropdown,
.nav8__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav8__dropdown:hover .nav8__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.nav8__show-menu {
  left: 0;
}

/*===== Active link =====*/
.nav8__active {
  color: #6923d0;
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .nav8__header-search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .nav8__body {
    padding: 1rem 3rem 0 6rem;
  }
  .nav8__header {
    padding: 0 3rem 0 6rem;
  }
  .nav8__header-container {
    height: calc(3.5rem + 0.5rem);
  }
  .nav8__header-search {
    width: 300px;
    padding: 0.55rem 0.75rem;
  }
  .nav8__header-toggle {
    display: none;
  }
  .nav8__header-logo {
    display: block;
  }
  .nav8__header-img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .nav8 {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px; /* Reduced navbar */
  }
  .nav8__items {
    row-gap: 1.7rem;
  }
  .nav8__icon {
    font-size: 1.3rem;
    min-width: 1.3rem;
  }

  /* Element opacity */
  .nav8__logo-name,
  .nav8__name,
  .nav8__subtitle,
  .nav8__dropdown-icon {
    opacity: 0;
    transition: 0.3s;
  }

  /* Navbar expanded */
  .nav8:hover {
    width: 219px;
  }

  /* Visible elements */
  .nav8:hover .nav8__logo-name {
    opacity: 1;
  }
  .nav8:hover .nav8__subtitle {
    opacity: 1;
  }
  .nav8:hover .nav8__name {
    opacity: 1;
  }
  .nav8:hover .nav8__dropdown-icon {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .nav8__body,
  .nav8__subtitle {
    font-size: 1rem;
  }
  .nav8__name {
    font-size: 0.875rem;
  }
  .nav8__dropdown-item {
    font-size: 0.813rem;
  }
}
